<h3>Add behavior</h3>
<div data-role="collapsible-set" data-inset="false">
<div data-role="collapsible">
  <h3>Name and type</h3>
  <label for="name">Write a name</label>
  <input name="element_name" type="text"/>

  <label for="type">Write a type (e.g. planet, vehicle etc.)</label>
  <input name="element_type" type="text"/>

</div>
<div data-role="collapsible">
  <h3>Move</h3>
</div>
<div data-role="collapsible">
  <h3>Rotate</h3>
</div>
<div data-role="collapsible">
  <h3>Circle</h3>
</div>
</div>
<a href="#" class="add" data-role="button" data-theme="a">Add behavior</a>
