<div class="toolbar">
  <ul class="tools">
    <li class="tool" id="draw_tool"><a href="#">Draw</a></li>
    <li class="tool" id="move_tool"><a href="#">Move</a></li>
    <li class="tool" id="clear_tool"><a href="#">Clear</a></li>
  </ul>
  <ul class="colors">
    <li class="color red"><a href="#">Red</a></li>
    <li class="color green"><a href="#">Green</a></li>
    <li class="color blue"><a href="#">Blue</a></li>
    <li class="color yellow"><a href="#">Yellow</a></li>
    <li class="color black"><a href="#">Black</a></li>
    <li class="color brown"><a href="#">Brown</a></li>
  </ul>
  <ul class="tools">
    <li class="tool" id="undo_tool"><a href="#">Undo</a></li>
<!--    <li class="tool" id="redo_tool"><a href="#">Redo</a></li> -->
  </ul>

</div>

<canvas id="myCanvas"></canvas>

