<div class="toolbar">
  <ul class="tools">
    <li class="tool" id="draw_tool"><a href="#">Draw</a></li>
    <li class="tool" id="move_tool"><a href="#">Move</a></li>
<!--    <li class="tool" id="erase_tool"><a href="#">Eraser</a></li> -->
  </ul>
  <ul class="colors">
    <li class="color red"><a href="#">Red</a></li>
    <li class="color green"><a href="#">Green</a></li>
    <li class="color blue"><a href="#">Blue</a></li>
    <li class="color yellow"><a href="#">Yellow</a></li>
    <li class="color black"><a href="#">Black</a></li>
    <li class="color brown"><a href="#">Brown</a></li>
  </ul>
</div>

<div class="behaviormenu">
  <h2>Add behavior</h2>

  <label for="name">Write a name</label>
  <input name="name" type="text"/>

  <label for="type">Write a type (e.g. planet, vehicle etc.)</label>
  <input name="type" type="text"/>

  <label for="behaviors">Select a behavior</label>
  <select class="behaviors" name="behaviors">
    <option class="behavior">Go</option>
    <option class="behavior">Rotate</option>
    <option class="behavior">Split</option>
    <option class="behavior">Circle</option>
  </select>

  <button>Apply</button>
</div>

<canvas id="myCanvas"></canvas>

